*{
    box-sizing: border-box;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 10px 0px;
}

.todos-dados input{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input:read-only{
    background-color: #ccc;
}

.msg-erro{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: none; 
}

.todos-dados{
    border: 1px solid #ccc;
    width: 370px;
    height: 370px;
    padding: 10px;
    border-radius: 7px;
    display: none;
}

.area-busca{
    margin-bottom: 20px;
}